h1 {
    color: blue;
}
h2 {
    color: rgb(0, 255, 76);
}
h3 {
    color: rgb(255, 0, 0);
}
header {
    background-color: aquamarine;
}
footer {
    font-size: 20px; background-attachment: fixed; background-color: chartreuse;
}

.out-1{
    width: 100px;
    height: 100px;
    background-color: orangered;
}